<main>
    <main>
        <div class="container body-content">
            <div class="row">
                <th:block th:each="venue : ${venues}">
                    <div class="col-md-6">
                        <article>
                            <header>
                                <h2 th:text="${venue.name}"></h2>
                            </header>

                            <p>Price per hour: <span th:text="${venue.pricePerHour}"></span></p>
                        </article>
                    </div>
                </th:block>
            </div>
        </div>
    </main>
</main>